.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4.15%;
  padding-block: 0.5rem;
}
.sticky {
  position: absolute;
  left: 0;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
