@import "index";
:root {
  // Base
  --gray-100: hsl(0, 0%, 100%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-5: hsl(0, 0%, 5%);
  --aqua-60: hsl(161, 82%, 40%);
  --aqua-50: hsl(161, 82%, 24%);
  --aqua-35: hsl(178, 77%, 18%);
  --aqua-25: hsl(188, 63%, 12%);
  --aqua-5: hsl(188, 63%, 5%);
  --aqua-5-0: hsla(188, 63%, 5%, 0);
  --lightgreen-50: hsl(110, 100%, 75%);
  --lightgreen-40: hsl(109, 56%, 58%);
  --lightgreen-35: hsl(144, 90%, 33%);
  --lightgreen-20: hsl(144, 90%, 23%);
  --lightgreen-20-30: color-mix(in srgb, var(--lightgreen-20) 30%, transparent);

  // Derived
  --bg-color: var(--aqua-5);
  --primary: var(--lightgreen-35);
  --primary-text: var(--gray-100);
  --primary-faint: color-mix(in srgb, var(--primary) 30%, transparent);
  --secondary: var(--aqua-35);
  --secondary-text: var(--lightgreen-50);
  --secondary-faint: color-mix(in srgb, var(--secondary) 30%, transparent);
  --secondary-faint-2: color-mix(in srgb, var(--aqua-25) 10%, transparent);
  --gradient: radial-gradient(
    50% 50% at 50% 50%,
    var(--primary-faint) 0%,
    var(--aqua-5-0) 100%
  );
  --gradient-secondary: radial-gradient(
    50% 50% at 50% 50%,
    var(--secondary-faint) 0%,
    var(--aqua-5-0) 100%
  );
  --card-bg: var(--aqua-25);
  --danger: hsl(357, 60%, 49%);
  --warning: hsl(46, 85%, 57%);

  // Utility
  --border-radius: 0.3em;
  --border-radius-lg: 0.8em;
  --pb-input: 0.5em;
  --pi-input: 0.75em;
  --transition-tf: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  // TODO change the header-height for mobile viewports
  --header-height: 4rem;

  // Typography
  --fs-h1: 1.5rem;
  @include mq-md {
    --fs-h1: 2.75rem;
  }
  @include mq-lg {
    --fs-h1: 3.125rem;
  }
  --fs-h2: 1.25rem;
  @include mq-md {
    --fs-h2: 1.5rem;
  }
  --fs-h3: 1rem;
  @include mq-md {
    --fs-h3: 1.125rem;
  }
  --fs-p: 0.875rem;
  @include mq-lg {
    --fs-p: 1rem;
  }
}
* {
  scrollbar-width: thin;
}
html,
body,
button,
input {
  font-family:
    var(--font-b),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Ubuntu,
    sans-serif;
}
body {
  color: var(--primary-text);
  background: var(--bg-color);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-h);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--fs-h1);
  font-weight: 300;
  line-height: calc(var(--fs-h1) * 1.42857);
}
h2 {
  font-size: var(--fs-h2);
  line-height: calc(var(--fs-h2) * 1.42857);
}
h3 {
  font-size: var(--fs-h3);
  line-height: calc(var(--fs-h3) * 1.42857);
}
p {
  font-size: var(--fs-p);
  line-height: calc(var(--fs-p) * 1.42857);
  margin: 0;
  padding: 0;
}
a {
  // text-decoration: none;
  color: var(--primary-text);
}
a:hover {
  color: var(--secondary-text);
  transition: color 300ms ease;
}

.bolder {
  font-weight: bold;
}
// Scrollbar styles
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--primary);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--secondary);
}
