.container[open] {
  & .content {
    animation: fade-in 0.3s var(--transition-tf);
    transform-origin: 50% 0%;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  height: 100svh;
  width: 100svw;
  z-index: 999;
  isolation: isolate;
  background: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
    // display: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    // display: block;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: hidden;
    // display: none;
  }

  100% {
    opacity: 0;
    visibility: visible;
    // display: block;
  }
}
.backdrop {
  background: none;
  // backdrop-filter: blur(2px);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.content {
  position: absolute;
  top: var(--popover-top, 50%);
  left: var(--popover-left, 50%);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: var(--br);
  background-color: var(--bg-card);
  animation: fade-out 0.3s var(--transition-tf);
}
